.employee-list{

width:100%;

}

.table-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.table-header h2{

font-size:28px;

color:#1e293b;

}

.table-header span{

background:#dbeafe;

padding:10px 18px;

border-radius:30px;

color:#2563eb;

font-weight:600;

}

table{

width:100%;
table-layout:auto;
border-collapse:collapse;

}

thead{

background:#f8fafc;

}

th{

padding:18px;

text-align:left;

font-size:15px;

color:#475569;
white-space:nowrap;

}

td{

padding:18px;

border-top:1px solid #edf2f7;
white-space:nowrap;

}

tbody tr{

transition:.35s;

}

tbody tr:hover{

background:#f8fbff;

transform:scale(1.01);

}

.employee-info{

display:flex;

align-items:center;

gap:15px;

}

.employee-info h4{
    margin:0;
    font-size:17px;
}


.employee-info small{

color:#64748b;

}

.badge{

background:#dbeafe;

color:#2563eb;

padding:8px 16px;

border-radius:30px;

font-weight:600;

}

.status{

padding:8px 16px;

border-radius:30px;

font-size:14px;

font-weight:600;

}

.active{

background:#dcfce7;

color:#15803d;

}

.edit-btn{

width:42px;

height:42px;

border:none;

border-radius:12px;

background:#2563eb;

color:white;

cursor:pointer;

margin-right:10px;

transition:.3s;

}

.edit-btn:hover{

transform:translateY(-4px);

background:#1d4ed8;

}

.delete-btn{

width:42px;

height:42px;

border:none;

border-radius:12px;

background:#ef4444;

color:white;

cursor:pointer;

transition:.3s;

}

.delete-btn:hover{

transform:translateY(-4px);

background:#dc2626;

}

.empty{

padding:60px;

text-align:center;

font-size:20px;

color:#64748b;

}

@media(max-width:900px){

table{

display:block;

overflow-x:auto;

}

}
.employee-image{
    width:55px;
    height:55px;
    object-fit:cover;
    border-radius:50%;
    border:3px solid #2563eb;
}
.employee-name{
    cursor:pointer;
    color:#1e293b;
    transition:.3s;
}

.employee-name:hover{
    color:#2563eb;
    text-decoration:underline;
}