.sidebar{

width:240px;

flex-shrink:0;

min-height:100vh;

background:linear-gradient(180deg,#312e81,#2563eb,#0ea5e9);

padding:30px 20px;

display:flex;

flex-direction:column;

color:white;

position:sticky;

top:0;

box-shadow:10px 0 30px rgba(0,0,0,.15);

}

/* Logo */

.sidebar-logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:50px;

}

.logo-circle{

width:65px;

height:65px;

border-radius:18px;

background:white;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:#2563eb;

}

.sidebar-logo h2{

font-size:30px;

margin-bottom:4px;

}

.sidebar-logo p{

font-size:14px;

opacity:.8;

}

/* Menu */

.sidebar-menu{

list-style:none;

display:flex;

flex-direction:column;

gap:15px;

transition:.3s;
}

.sidebar-menu li{

display:flex;

align-items:center;

gap:18px;

padding:15px 18px;

border-radius:15px;

cursor:pointer;

transition:.3s;

font-size:17px;

}

.sidebar-menu li svg{

font-size:20px;

}

.sidebar-menu li:hover{

background:rgba(255,255,255,.15);
transform:translateX(8px);

}

.active{

background:white;

color:#2563eb;

font-weight:600;

}

/* Logout */

.logout-btn{

margin-top:auto;

padding:16px;

border:none;

border-radius:15px;

background:#ef4444;

color:white;

font-size:16px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

transition:.3s;

}

.logout-btn:hover{

background:#dc2626;

}

/* Mobile */

@media(max-width:1000px){

.sidebar{

display:none;

}

}