.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-bottom:35px;

}

.stat-card{

background:white;

padding:25px;

border-radius:20px;

display:flex;

align-items:center;

gap:18px;

box-shadow:0 12px 35px rgba(0,0,0,.08);

cursor:pointer;

transition:.35s;

position:relative;

overflow:hidden;

}

.stat-card::before{

content:"";

position:absolute;

top:0;

left:0;

width:6px;

height:100%;

background:linear-gradient(#4f46e5,#2563eb);

}

.stat-card:hover{

box-shadow:0 20px 40px rgba(0,0,0,.12);

}

.stat-icon{

width:72px;

height:72px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

flex-shrink:0;

}

.stat-content{

display:flex;

flex-direction:column;

}

.stat-content h2{

font-size:34px;

font-weight:700;

color:#1e293b;

margin-bottom:5px;

}

.stat-content p{

font-size:15px;

color:#64748b;

}

@media(max-width:1000px){

.stats{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:650px){

.stats{

grid-template-columns:1fr;

}

}