.dashboard-header-card{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px;

background:linear-gradient(135deg,#4f46e5,#2563eb);

border-radius:22px;

color:white;

margin-bottom:25px;

box-shadow:0 15px 40px rgba(79,70,229,.3);

}

.dashboard-header-card h1{

font-size:36px;

margin-bottom:8px;

}

.dashboard-header-card p{

font-size:18px;

opacity:.9;

}

.export-btn{

background:white;

border:none;

padding:15px 30px;

border-radius:12px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.export-btn:hover{

transform:translateY(-5px);

}

@media(max-width:768px){

.dashboard-header-card{

flex-direction:column;

gap:20px;

text-align:center;

}

}