.employee-form h2{

    color:#1e293b;

    margin-bottom:30px;

    font-size:30px;

}

.input-group{

    display:flex;

    align-items:center;

    gap:15px;

    border:2px solid #e2e8f0;

    border-radius:14px;

    padding:16px;

    margin-bottom:20px;

    transition:.3s;

    background:#fff;

}

.input-group:hover{

    border-color:#6366f1;

}

.input-group:focus-within{

    border-color:#4f46e5;

    box-shadow:0 0 15px rgba(79,70,229,.2);

}

.input-group svg{

    color:#6366f1;

    font-size:18px;

}

.input-group input{

    border:none;

    outline:none;

    width:100%;

    font-size:16px;

}

.add-btn{

    width:100%;

    border:none;

    padding:18px;

    border-radius:14px;

    background:linear-gradient(135deg,#4f46e5,#2563eb);

    color:white;

    font-size:17px;

    font-weight:600;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    cursor:pointer;

    transition:.3s;

    margin-top:15px;

}

.add-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(79,70,229,.3);

}