.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-bottom:30px;

}

.stat-card{

background:white;

padding:25px;

border-radius:18px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-icon{

width:70px;

height:70px;

background:linear-gradient(135deg,#4f46e5,#2563eb);

color:white;

display:flex;

justify-content:center;

align-items:center;

border-radius:18px;

font-size:28px;

}

.stat-card h2{

font-size:34px;

color:#1e293b;

}

.stat-card p{

color:gray;

}

@media(max-width:900px){

.stats{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.stats{

grid-template-columns:1fr;

}

}